h1.border, h1.questions {
  border-bottom: 5px solid black;
  font-size: 3em;
}

.upButton {
  font-size: 3em;
  color: #df4727;
  float: left;
}

.upButton.is-expanded; {
  float: left;
}

.logout a {
  float: right;
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.logout:hover a {
  color: red;
}

.votesDiv {
  padding: 5px;
  font-size: 2em;
  float: right;
  border: 1px solid black;
}

.answerable {
  float: left;
}

.answerable:hover{
  color: white;
}

.redirect a {
  float: right;
  font-size: 2em;
  color: black;
}

.redirect a:hover {
  color: red;
}

.redirect {
  text-align: center;
  display: block;
  padding: 30px 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  font-size: 1em;
  color: black;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}